.projectsContainer{
display: flex;
justify-items: space-between;
flex-grow: 1;
}
.projectsContainerMobile{
    display: none;
}

.projectsTitleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: wheat;
    max-width: 40vw;
    align-items: center;
    margin-right: 5vh;
    >p{
        text-align: justify;
        font-size: 2.5vh;
        font-weight: lighter;
        font-style: italic;
      }
}

.title{
    text-align: center;
    font-weight: bolder !important;
    font-size:large;
    font-style: italic;
    font-size:x-large;
    color: wheat;
    line-height: 2rem;
}

.projectsImageContainer{
    width: 55vh;
    height: 30vh;
    }

.image{
    position: absolute;
    width: 55vh;
    height: 30vh;
    border-radius: 2vh;
    filter:drop-shadow(1mm -1mm 1mm black)
}

.skillsContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
} 

.anim-bg-gradient {
background: linear-gradient(120deg, rgb(139, 0, 86), darkmagenta, rgb(0, 47, 255));
background-size: 200% 100%;
background-position: 100% 0;
transition: background-position .5s;
border-radius: 10%;
margin: 1rem;
padding: 1rem;
color: #ffffff;
font-size: large;
}

.anim-bg-gradient:hover {
background-position: 0 0;
}

.noDisp{
    display: none;
}

.previousItem{
    transform: translateY(90%);
}

.nextItem{
    transform: translateY(-90%);
}

@media screen and (max-width: 1200px),
      screen and  (max-height: 400px) {  

        .image{
            display: none;
        }
        .projectsContainer{
            flex-direction: column-reverse;
            display: none;
            }

            .projectsContainerMobile{
                display: flex;
                flex-direction: column;
            }

            .projectsTitleContainer{
                max-width: unset;
                margin-right: unset;
                >p{
                    font-size: 6vw;
                    text-align: justify;
                    line-height: 7vw;
                  }
            }
            @media screen and (max-width: 768px) {
                .skillsContainer{
                    grid-template-columns: 1fr 1fr; 
                } 
                
            }

            @media screen and (max-width: 500px) {
                .skillsContainer{
                    grid-template-columns: 1fr; 
                } 
                
            }
}