.TitleBarStyle{
    position: relative;
    /* top:25%;
    left: 25%;
    height: 25rem;
    width: 95rem; */
}
.TitleBarStyle p
{
  font-style: italic;
  font-weight:lighter;
  font-size:7vh;
  color: wheat;
  line-height: 8vh;
  width: 95vw;
}

.TitleBarStyle h2
 {
  display: inline;
  font-style: italic;
  font-weight:lighter;
  font-size:7vh;
  color: wheat;
  line-height: 8vh;
  width: 95vh;
}


@media screen and (max-width: 1320px){  
  .TitleBarStyle p
{
  font-style: italic;
  font-weight:lighter;
  font-size:5vw;
  color: wheat;
  line-height: 8vw;
  width: 95vw;
}

.TitleBarStyle h2
 {
  display: inline;
  font-style: italic;
  font-weight:lighter;
  font-size:5vw;
  color: wheat;
  line-height: 8vw;
  width: 95vh;
}
      }