.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 80vw;
    height: 45vh;
}

@media screen and (max-width: 1300px),
      screen and  (max-height: 400px) {  
        .container{
            flex-direction: column;
        }
      }