.itemContainer{
    display: flex;
    border: solid 1px black;
    max-width: fit-content;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    min-height: 40px;
    min-width: 150px;
    padding: 5px;
    margin: 10px
}

.icon{
    width: auto;
    max-height: 40px;
    margin-left: 1rem;
}

.text{
    color: white;
    font-size: 1.5vh;
    font-size-adjust: auto;
    text-align: center;
    line-height: 25px;
    height: 25px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}