<html>
  <head>
    <title>Claudio Martinoli Portfolio</title>
  </head>
  <body class="body">
      <div class="header">
          <div id="container" class="avatarcontainer">
            <div class="avatar">
              <img src="../assets/AvatarMaker.png" class="Avatar"/>
            </div>
          </div>
          <div>
            <p class="hover-underline-animation"> <a href="../assets/MartinoliCV2022.pdf" download="ClaudioMartinoliCV2022">My resume</a></p>
          </div>
        </div>


      <div class="carusel-container">
        <button aria-label="Previous Slide" class="caruselButton back">
          <i class="material-icons">arrow_back_ios</i>
        </button>
        <div class="cardContainer">
          <ng-container *ngFor="let project of configsService.GitData().Projects; trackBy: trackByFn">
          </ng-container>
        </div>
        <button aria-label="Forward Slide" class="caruselButton forward">
          <i class="material-icons">arrow_forward_ios</i>
        </button>
        <!-- <div class="TitleBarStyle">
          <h2>Welcome</h2><h3 [@slideUpDown]="TextStatus"> {{NamesArray[currentIndex]}}</h3><h3> !</h3>
          <p>I am Claudio Martinoli;<br>
            Solution designer,<br>
            full stack developer and SQL expert.</p>
        </div> -->
      </div>
      <!-- <div class="TitleBarStyle">
        <h2>Welcome</h2><h3 [@slideUpDown]="TextStatus"> {{NamesArray[currentIndex]}}</h3><h3> !</h3>
        <p>I am Claudio Martinoli;<br>
          Solution designer,<br>
          full stack developer and SQL expert.</p>
      </div> -->


      <div class="BottomLinks">
        <mat-divider class="divider" ></mat-divider>

        <p class="hover-underline-animation">Linkedin</p>
        <p class="hover-underline-animation1">GitHub</p>
      </div>
  </body>
</html>
