.skillsTitleContainer {
    text-align: center;
}

.skillsTitleContainer p {
    font-style: normal;
    font-weight: bold;
    font-size: xx-large; /* Changed to viewport width */
    color: wheat;
}

.skillsContainer{
  margin-top: 5vh;
}

.descContainer{
  max-width: unset;
}