.skillsTitleContainer{
    text-align: center;
    width: 50rem;
    height: 20rem;
    >p{
        font-style: italic;
        font-weight:lighter;
        font-size:25px;
        color: white;
        line-height: 2rem;
      }
}