
    <div *ngIf="Card.Title" class="titleContainer">
        <p>{{Card.Title}}</p>
    </div>
    <div *ngIf="Card.SubTitle" class="subTitleContainer">
        <p>{{Card.SubTitle}}</p>
    </div>
    <div class="mainContainer">
        <div *ngIf="Card.Description" class="descContainer">
            {{Card.Description}}
        </div>
        <div *ngIf="Card.Items" class="skillsTitleContainer">
            <p>My Skills</p>
        <div class="skillsContainer">
            <ng-container *ngFor="let item of Card.Items; index as i; trackBy: trackByFn" [ngSwitch]="item.Type">
                <app-skill-item *ngSwitchCase="itemTypes.Skill" [item]="item"></app-skill-item>
            </ng-container>
        </div>        
    </div>
    </div>

