/* You can add global styles to this file, and also import other style files */

body {
  margin: 0 !important;
}

/*Rimuove il bordo di approot */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fullScreenContainer{
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 1rem;
  border: solid, 5px, black;
  border-radius: 2rem;
  backdrop-filter: blur(50px);
  >.cardContainer{
    display: flex;
    width: 100rem;
    overflow: hidden;
    >.cardContent{
      display: flex;
      flex-grow: 1;
      justify-content: center;
      flex-direction: column;
      width: 95rem;
      margin: 2rem;
    }
  }
}

.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

